
<div ng-controller="AttendenceController">

    <div class="container d-flex align-items-center" style="padding-top: 15px;">
        
        <h4 class="text-secondary flex-fill">Mark Today Attendence</h4>

    </div>
    <hr>


    <div class="container">
    <div class="card mb-2" ng-repeat="x in Records | orderBy  : 'IsPresent'">
        <div class="card-body">
            <h4 class="text-muted card-title"><i class="fa fa-user"></i> {{x.EmployeeName}}</h4>
            <h6 class="text-muted card-subtitle mb-2">{{x.Profile}}</h6>
            <hr />
            <p class="card-text">Today Attendance Status</p>
            <p ng-hide="x.IsPresent" class="text-warning card-text"><i class="fa fa-warning"></i> Pending</p>
            <p ng-show="x.IsPresent"  class="text-success card-text"><i class="fa fa-check-circle"></i> Attendance Marked</p>
            
            <div  class="col text-right">
                <hr />
                <div ng-hide="x.IsPresent" role="group" class="btn-group">
                    <a href="{{x.MapLink}}" class="btn btn-primary" target="_blank" ng-show="x.Lat!=null" >View Location</a>
                   
                <button class="btn btn-success" ng-click="MarkAttendence(x.EID)" type="button">Accept</button>
                <!--<button class="btn btn-danger" type="button">Reject</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

</div>


