
<div ng-controller="EmployeeAttendenceController">

    <div class="container" style="padding-top: 15px;">
        <h4 class="text-secondary">Attendance Status</h4>
    </div>
    <hr />

    <div class="container">
        <div class="card">
            <div class="card-body">
                
                <p class="card-text">Today Attendance Status</p>
                <p class="text-warning card-text"><i class="fa fa-warning"></i> Pending</p>
                <br />
                <form name="MarkAttendenceForm">
                    <input class="form-control" ng-model="Attendence.Mobile"  required name="Mobile" placeholder="Enter Mobile" autofocus="" style="padding-left: 15px;">
                    <br />
                    <input class="form-control" ng-model="Attendence.PWD" type="password" id="inputPassword" required name="PWD" placeholder="Password" style="padding-left: 15px;">
                    <br />
                    <div class="input-group border rounded">
                        <input type="text" readonly required placeholder="Fetch Geo Location" class="form-control" name="Location" value="{{Attendence.Lat + ", " + Attendence.Long}}" ng-model="Attendence.Location" />
                        <div class="input-group-append ">
                            <button ng-click="getLocation()" class="btn btn-primary"  type="button">Go!</button>
                        </div>
                    </div>
                </form>
                <br />


                <button class="btn btn-primary btn-block" ng-click="MarkAttendence()" ng-disabled="MarkAttendenceForm.$invalid" type="button">Mark Attendance</button>
            </div>
        </div>
    </div>

</div>

